

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

body {
    background: url('./images/5353146.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}



.login {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 30px 40px;
    padding-right: 65px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    color: #fff;
    width: 350px;
}

.login h1 {
    text-align: center;
    margin-bottom: 25px;
}

.login input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}

.login input::placeholder {
    color: #555;
}


.login .btn {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.login .btn:hover {
    background: #0056b3;
}

/* Additional links */
.login .remember-forgot {
    display: inline-flex;
    white-space: nowrap;
    /* align-items: center; */
    justify-content:space-around;
    font-size: 12px; 
    margin-bottom: 10px; 
    
}
.login .remember-forgot label{
    margin-left: 10px;
    margin-right: 150px;
    font-size: 14px;
}
.login .remember-forgot a{
    text-decoration: none;
    color:burlywood;
}
.login .register-link a{
    text-decoration: none;
    color:burlywood;
}


.login .register-link {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
}




 