*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
    
}
body{
    
    color: #003135;
}
a{
    text-decoration: none;
    color: #5f5f5f;
}
.navbar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 6%;
    background-color: #1E1E1E;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 5px 4px 10px #5f5f5f;
    /* box-shadow:  8px 8px 15px #0FA4AF; */
    border: 1px solid #5f5f5f;
}
.logo img{
    width: 30px;
    margin-right: 15px;
    display: block;

}
.navbar-center ul li{
    display: inline-block;
    list-style: none;
}

.navbar-center ul li a{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 5px 8px;
    padding-right: 5px;
    position: relative;
    color: #0FA4AF;
    

}
.navbar-center ul li a img{
    width: 30px;
}
.navbar-center ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #0FA4AF;
    position: absolute;
    bottom: -15px;
    transition: width 0.3s;
}
.navbar-center ul li a:hover:after{
    width: 100%;
}
.nav-profile-img{
    width: 40px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    position: relative;
}
.online{
    position: relative;
}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    right: 0px;
    top: 0px;
    background-color: #41db41;
    position: absolute;
}
.container{
    padding: 20px 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #121212;

}
.left-sidebar{
    flex-basis:25%;
    align-self: flex-start;
    position: sticky;
    top: 73px;
    
    /* background-color: #045be6; */
    
}
.sidebar-profile-box{
    /* background: #fff; */
    padding-bottom: 5px;
    height: 50vh;
    border-radius: 30px;
    box-shadow:  8px 8px 15px #0FA4AF;
    background-color: #1E1E1E;
    border: 1px solid #5f5f5f;
}
.sidebar-profile-box img{ 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
}
.sidebar-profile-info{
    padding:0 25px;

}
.sidebar-profile-info img{
    width: 90px;
    /* overflow: hidden; */
    border-radius: 50%;
    background: #fff;
    padding: 4px;
    margin-top: -45px;
}
.sidebar-profile-info h1{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
.sidebar-profile-info h3{
    margin-top: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}
.sidebar-profile-info ul{
    list-style: none;
    margin: 20px 0;
}
.sidebar-profile-info ul li{
    width: 100%;
    margin: 5px 0;
    font-size: 13px;
    color: #fff;
}
.sidebar-profile-info ul li span{
    float: right;
    color: #AFDDE5;
}
.sidebar-activity{
    background: #1E1E1E;
    padding-top: 5px;
    padding-left:25px;
    padding-bottom: 20px;
    margin: 12px 0;
    height: 50vh;
    border-radius: 30px;
    box-shadow:  8px 8px 15px #0FA4AF;
    border: 1px solid #5f5f5f;
}

.sidebar-activity h3{
    color: #fff;
    margin: 20px 0 10px;
    font-weight: 500;
    font-size: 14px;
}

.sidebar-activity a{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    margin: 3px 0;
}

.sidebar-activity a img{
    width: 20px;
    margin-right: 10px;
}
.right-sidebar{
    flex-basis:25%;
    align-self: flex-start;
    position: sticky;
    top: 73px;
}

.sidebar-ad{
    background: #1E1E1E;
    padding: 15px 25px;
    text-align: center;
    /* margin: 12px 0; */
    font-size: 15px;
    width: 375px;
    border-radius: 10px;
    box-shadow:  8px 8px 15px #0FA4AF;

} 
.sidebar-ad img{
    width: 60px;
    border-radius: 50%;
    margin: 4px;
}
.sidebar-ad small{
    float: right;
    font-weight: 500;
}
.sidebar-ad p{
    margin-top: 30px;
    margin-bottom: 10px;
    color: #fff;
}
.sidebar-ad b{
    display: block;
    font-weight: 500;
    margin-top: 10px;
    color: #fff;
}
.ad-link{
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 15px 15px;
    color: #fff;
    font-weight: 500;
    margin: 20px auto 10px ;

}
.sidebar-people{
    background: #1E1E1E;
    padding: 15px 25px;
    margin: 12px 0;
    font-size: 12px ;
    box-shadow:  8px 8px 15px #0FA4AF;
    border-radius: 20px;
    border: 1px solid #5f5f5f;
}
.sidebar-people h3{
    font-size: 16px;
    font-weight: 600;
    margin: 10px 20px;
    color: #fff;

}
.sidebar-people-row{
    display: flex;
    align-items: center;
    margin-bottom: 6px;

}
.sidebar-people-row img{
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
   

    
}
.sidebar-people-row h2{
    font-weight: 600;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 3px;
    color: #fff;
    
    
}
.sidebar-people-row p{
    color: #fff;
}
.sidebar-people-row a{
    display: inline-block;
    margin: 10px 0;
    padding: 5px 25px;
    border: 1px solid #5f5f5f;
    border-radius: 30px;
    font-weight: 500;
    color: #0FA4AF;
    
}
.main-content{
    flex-basis: 47%;

}
.create-post{
    background: #1E1E1E;
    border-radius: 20px;
    box-shadow:  8px 8px 15px #0FA4AF;
    margin-bottom: 50px;
    border: 1px solid #5f5f5f;
}
.create-post-input{
    padding: 20px 25px 10px;
    display: flex;
    align-items: flex-start;
}
.create-post-input img{
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
}
.create-post-input textarea{
    width: 100%;
    border: 0;
    outline:0;
    resize: none;
    background: transparent;
    margin-top: 8px;

}
::placeholder{
    font-weight: 500;
    color: #fff;
}
.create-post-link{
    
    background-color: #0FA4AF ;
   
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 10px 25px;
    cursor: pointer;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.create-post-link li{
    list-style: none;
    
}

.post-author{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
.post-author img{
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
}
.post-author h1{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 2px;
}
.post-author small{
    display: block;
    margin-bottom: -2px;
    color: #fff;
}
.post h3{
    font-size: 19px;
    margin-bottom: 15px;
    color: #fff;
}
.post p{
    font-size: 19px;
    margin-bottom: 15px;
    color: #fff;
}

.post{
    padding: 20px;
    margin-top: 15px;
    
}
.link{
   display: flex;
   align-items: center;
   justify-content: space-between;
    
    
    
}
.a{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    padding: 10px;
    background-color: #0FA4AF ;
    border-right: 1px solid #fff;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}
.a h3{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
}
.b h3{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
}
.c h3{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
}
.b{
   
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #0FA4AF ;
    
    border-right: 1px solid #fff;
    cursor: pointer;
}

.c{
    
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #0FA4AF ;
    
    border-bottom-right-radius: 20px;
    cursor: pointer;
}
.pn{
    background: #1E1E1E;
    padding: 15px 25px;
    margin: 12px 0;
    font-size: 12px ;
    /* box-shadow:  8px 8px 15px #0FA4AF; */
    border: 1px solid #0FA4AF;
    border-radius: 20px;
}
.tech{
    background: #1E1E1E;
    padding: 15px 25px;
    margin: 12px 0;
    font-size: 12px ;
    /* box-shadow:  8px 8px 15px #0FA4AF; */
    border: 1px solid #0FA4AF;
    border-radius: 20px;
}
